:local(.container) {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 50px 1.5fr 0.5fr;
  grid-template-areas: 'navbar chat' 'chatlist chat' 'chatlist inputarea';
  overflow: hidden;
}

:local(.navbar) {
  grid-area: navbar;
  box-sizing: border-box;
  padding: 15px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  background: #3378a3;
  border-right: 1px solid lightgrey;
  color: rgba(247, 247, 248, 1);
}

:local(.chatlist) {
  grid-area: chatlist;
  background: rgba(252, 255, 255, 1);
  color: grey;
  border-right: 1px solid lightgrey;
}

:local(.chatlist div) {
  box-sizing: border-box;
  padding: 2vmin 1vmin;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

:local(.chat) {
  grid-area: chat;
  width: 100%;
  background: rgb(242, 247, 247, 1);
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding: 0 0 10px 0;
}

:local(.chat button) {
  width: 100%;
  height: 50px;
  background: lightgrey;
  opacity: .5;
  outline: none;
  border: none;
  transition: all .3s ease-in-out;
}

:local(.chat button:hover) {
  opacity: 1;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

:local(.inputarea) {
  height: 100%;
  display: inline-grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'input send';
  grid-area: inputarea;
  border-top: 1px solid lightgrey;
}

:local(.input) {
  grid-area: input;
}

:local(.input textarea) {
  height: 100%;
  width: 100%;
  outline: none;
  resize: none;
  border: none;
}

:local(.send) {
  grid-area: send;
  border-left: 1px solid lightgrey;
}

:local(.sendMessageButton) {
  background: rgba(255,255,255,.2);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
}
